# Virtual Environment
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# Model files
models/*.bin
models/*.gz
word2vec.py